body {
  font-family: Arial, sans-serif;
  background: #FFFBE8;
  text-align: center;
}

.login-box {
  max-width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 18px;
  border-radius: 10px;
}

.course-card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  max-width: 350px;
  border-radius: 12px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

